* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header__title {
    font-size: 4rem;
    text-transform: uppercase;
    color: #1D091E;
    margin-bottom: 1em;
    margin: .5em;
}

.lasagna-link {
    margin-left: 1em;
}

